<?xml version="1.0"?>
<config>
    <modules>
        <XT_Brand>
            <version>0.1.0</version>
        </XT_Brand>
    </modules>
    <admin>
        <routers>
			<brand>
				<use>admin</use>
				<args>
					<module>XT_Brand</module>
					<frontName>brand</frontName>
				</args>
			</brand>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		   <catalog>
                <children>
				   <brand module="brand">
						<title>Manage Brands</title>
						<sort_order>3</sort_order>
						<action>brand/adminhtml_brand/</action>						
				     </brand>		
				</children>
             </catalog>
		  </menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<XT_Brand>
							<title>Brand Module</title>
							<sort_order>10</sort_order>
						</XT_Brand>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<brand>
					<file>brand.xml</file>
				</brand>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <brand>
                <class>XT_Brand_Model</class>
                <resourceModel>brand_mysql4</resourceModel>
            </brand>
            <brand_mysql4>
                <class>XT_Brand_Model_Mysql4</class>
                <entities>
                    <brand>
                        <table>customer_brand</table>
                    </brand>
                    <grid>
                        <table>grid_brand</table>
                    </grid>
                </entities>
            </brand_mysql4>
        </models>
        <resources>
            <brand_setup>
                <setup>
                    <module>XT_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>
        <blocks>
            <brand>
                <class>XT_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
            <brand>
                <class>XT_Brand_Helper</class>
            </brand>
        </helpers>
    </global>
	<frontend>
		<routers>
            <brands>
                <use>standard</use>
                <args>
                    <module>XT_Brands</module>
                    <frontName>brands</frontName>
                </args>
            </brands>
        </routers>        
		<layout>
			<updates>
				<brand>
					<file>brand.xml</file>
				</brand>
			</updates>
		</layout>
    </frontend>
</config>